.div-list {
    padding: 25px;
    background: #d5d6d7;
    margin-top: 10px;
    margin-bottom: 10px;
    .index-item-list {
        background: #f5a623;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0px;
        top: 0px;
        text-align: center;
        color: white;
    }
    .action-item-list {
        position: absolute;
        right: 3px;
        top: 3px;
        padding: 3px;
        border-radius: 2px;
        background: white;
        i {
            margin-left: 3px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
