.summary-editor{
  .ql-container{
    background: #f3f5f9;
  }

  h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #1F2631;
  }

  h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #1F2631;
  }

  p, li {
    font-size: 13px;
    color: #1F2631;
  }

  blockquote {
    border-left: 5px solid #f86466;
    background: white;
    padding: 10px 20px;
    margin: 0 0 20px;
  }

  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #1F2631;
    white-space: nowrap;
  }
  .nav-link.dropdown-toggle:after, .btn.dropdown-toggle:after{
    display: none;
  }
  pre{
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 12px 19px 0 rgba(60,128,209,0.09);
    padding: 24px;
    white-space: break-spaces;
  }
}
