.page-enter-active {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  transition: all 0.8s;
}
.page-enter {
  opacity: 0;
  transform: translate3d(0, -10%, 0);
}

.page-leave-active {
  display: none;
}
